[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fiona = "1.8.21"
matplotlib = "3.5.3"
flask = "2.2.2"
gunicorn = "20.1.0"

[dev-packages]

[requires]
python_version = "3.8"
